#!/bin/bash

source ~/.bash_profile && source /etc/profile

password={{ db_password }}

mysql -uroot -D mysql -e "UPDATE user SET authentication_string=PASSWORD('$password') WHERE user='root';"

mysql -uroot -e "FLUSH PRIVILEGES;"