[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
default-character-set = utf8

[mysqld]
default-storage-engine = INNODB
character_set_server = utf8
explicit_defaults_for_timestamp
basedir = {{ mysql_deploy_path }}
datadir = {{ mysql_data }}
socket = /tmp/mysql.sock
log_error = {{ mysql_deploy_path }}/log/error.log
user = {{ db_username }}

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
