server {
    listen       {{ nginx_conf.nginx.esc_proxy_port }};# access port
    server_name  localhost;

    location / {
        root   {{ ds_front_deploy_path }}/dist; # static file directory
        index  index.html index.html;
    }

    location /dolphinscheduler {
        proxy_pass {{ nginx_conf.nginx.esc_api_server }}; # interface address
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header x_real_ipP $remote_addr;
        proxy_set_header remote_addr $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_connect_timeout 300s;
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ nginx_deploy_path }}/html;
    }
}